## Ruby gems
**/vendor

## binaries
**/bin
# Ignore bundler config
**/.bundle
# Ignore byebug history
**/.byebug_history

## test results
spec/rspec.txt
spec/examples.txt
spec/reports

## code coverage
**/coverage

## Visual Studio code
**/.vscode
